<container>
  <row>
    <div class="col-md-12">
      <div class="text-center" id="header">
        <h1><image src="assets/images/burger.png" alt="burger.png" style="width: 250px"/></h1>
        <h2>Eat-Da-Burger!</h2>
      </div>
    </div>
  </row>
  <row>
    <div class="col-md-6">
      <div id="burgersFresh" class="text-center">
        <ol>
          {{#each burgers}}
            {{#unless this.devoured}}
              <li>
                {{this.burger_name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="1">
                  <button type="submit">Devour it!</button>
                </form>
              </li>
            {{/unless}}
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="col-md-6">
      <div id="burgersEaten" class="text-center">
        <ol>
          {{#each burgers}}
            {{#if this.devoured}}
              <li>
                {{this.burger_name}}
              </li>
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
  </row>
  <row>
    <div class="col-md-12 text-center">
      <div id="addBurger">
        <form action="/" method="POST">
          <input type="text" name="burgerName"
          style="width: 400px" placeholder="Enter a burger you want to eat">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </row>
</container>
